node_modules
build
.env
*.zip

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS
.aws-sam
env.json

# Draw.io
*.dtmp

# macOS
.DS_Store
