.menu-container {
  height: 72px;
  margin: 20px;
}

.menu-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  text-transform: capitalize;
  line-height: 20px;
}

.menu-content > strong {
  font-size: 38px;
}

.unselected:hover {
  cursor: pointer;
}

.selected {
  text-align: center;
  vertical-align: middle;
  font-family: Khula;
  line-height: auto;
  color: #f39c12;
}
.unselected {
  text-align: center;
  vertical-align: middle;
  font-family: Khula;
  line-height: auto;
  color: #ffffff;
}
