.template-select-container {
  border-radius: 32px;
  height: 217px;
  width: 285px;
  background-color: #121111;
  border: 4px solid #f39c12;
}

.template-select-container:hover {
  cursor: pointer;
}

.template-select-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.template-text {
  text-align: center;
  vertical-align: top;
  font-size: 32px;
  font-family: Khula;
  letter-spacing: 2%;
  line-height: auto;
  color: #ffffff;
}

.image {
  width: 100%;
}
