:root {
  --color-1: #000000;
  --color-2: #000000;
  --color-3: #000000;
  --color-4: #000000;
  --color-black: #000000;
  --color-gray: rgba(0, 0, 0, 0.7);
  --color-white: #ffffff;
  --color-divider: #c2c2c2;
  --color-primary: #f39c12;
  --color-primary-variant: #492f05;
  --color-surface: #0d0d0d;
  --color-error: #b00d20;
  --color-primary-container: #121111;
}
