/* Typography */

body {
  font-family: "Khula";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  letter-spacing: 0.02em;

  /* Black */
  color: #020106;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  font-family: "Khula";
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 154px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

h1,
title {
  font-family: "Khula";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 103px;

  /* identical to box height */
  letter-spacing: -0.02em;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

h2 {
  font-family: "Khula";
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 83px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

b,
strong {
  font-family: "Khula";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  /* identical to box height, or 24px */
  letter-spacing: 0.02em;

  /* Black */
  color: #020106;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

button {
  /* Button */

  font-family: "Khula";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height */

  text-transform: uppercase;

  /* Black */

  color: #020106;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
